body {
  background-image: url('https://english.wafa.ps/image/NewsThumbImg/Default/34ebcd41-c8c8-40e3-bd89-de96dcd2fbb4.jpg');
  background-repeat: no-repeat;
  background-size: 2000px 900px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
